{% extends "layout.html" %}
{% block title %}Add User{% endblock %}
{% block content %}
<h1 class="page-title">Add User</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class_='form-control') }}
    </div>
    <div class="form-group">
        {{ form.fullname.label }}
        {{ form.fullname(class_='form-control') }}
    </div>
    <div>
        {{ form.submit(class_='btn btn-primary') }}
    </div>
</form>
{% endblock %}